section.awSlider .carousel {
    display: flex;
    z-index: 2;
    height: 500px;
    
}

section.awSlider {
    margin: 30px auto;
    padding: 30px;
    position: relative;
    display: table;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#cont-img{
    align-items: center;
    text-align: center;
}

#cont-png{
    align-items: center;
    text-align: center;
    display: flex;
    

    
}

.contenedor-noticia{
    width: 850px;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 210px;
    margin: 2%;

    display: flex;
    z-index: 2;
    box-decoration-break: none;
    
}

.info_not{
    align-items: center;
    padding: 15px;
    justify-content: center;
    text-align: justify;
    text-decoration: none;
}

#titulonot{
    text-decoration: none;
    color: #364c59;
}

#titulonot:hover{
    color: #dbca11;
}

#vermas{
    color: rgb(123, 121, 121);
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70,70,70,.25);
  }
  
.carousel .carousel-indicators .active {
    background-color: #444;
  }